<!DOCTYPE html>
<html>

<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Historia Bartoszyc</title>
    @Styles.Render("~/Content/css") @Scripts.Render("~/bundles/modernizr")


    <!-- Polyfill(s) for older browsers -->
    <script src="../../node_modules/core-js/client/shim.min.js"></script>
    <script src="../../node_modules/zone.js/dist/zone.js"></script>


</head>

<body>
<script type="text/javascript" src="~/app/bundle.js" charset="utf-8"></script>
    <script src="https://cdn.ckeditor.com/4.5.11/full/ckeditor.js"></script>


    <div class="container body-content">
        @RenderBody()
        <hb-app>Wczytywanie zawartości...</hb-app>
        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery") @Scripts.Render("~/bundles/bootstrap") @RenderSection("scripts", required: false)
</body>

</html>